
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="media">
    <a class="media-left" href="#"> <img class="media-object" src="img/f1vlog135.jpg" alt=""> </a>
    <div class="media-body">
        <div class="news-title">
            <h2 class="title-small"><a href="https://www.youtube.com/watch?v=PmHhXUnQhhQ">F1 VLOG 135: Nowy król Ferrari i detronizacja Seba na Monzie</a></h2>
        </div>
    </div>
</div>