
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <h3><strong>F1 2019</strong></h3>
        Oparta na licencji Formuły 1 gra wyścigowa, reprezentująca serię rozwijaną przez studio Codemasters Software.
        W F1 2019 gracze mogą nie tylko powalczyć o zwycięstwo w klasie Formuła 1, lecz także spróbować swoich sił w Formule 2.
        <div class="S016-ency-panel">
            <div class="S016-game-box">
                <figure>
                    <div id="game-cover-platform-cnt"></div>
                    <img id="game-cover-src" src="https://cdn.gracza.pl/galeria/gry13/grupy/668724562.jpg" alt="Okładka F1 2019 (PC)">
                </figure>
            </div><div class="S016-ency-info">
                <div id="game-playforfree-cnt">
                </div>
                
                <div class="S016-mobi-p1 S016-mobi-p1a">
                    <div class="S016-mobi-arrow-down-c" data-css-ids="S016-mobi-p1" data-css-add="S016-mobi-p1-open"><div class="S016-mobi-arrow-down"></div></div>



                    <div class="S016-game-info">
                        <div id="game-developer-cnt">
                            <p>producent: <a href="/firma.asp?ID=2881" class="un-link">Codemasters Software</a></p>
                        </div>
                        <div id="game-publisher-cnt">
                            <p>wydawca: <a href="/firma.asp?ID=2881" class="un-link">Codemasters Software</a></p>
                        </div>
                        <div id="game-publisherpl-cnt">
                            <p>wydawca PL: <a href="/firma.asp?ID=288" class="un-link">CDP</a></p>
                        </div>
                        <p class="small"><span id="game-website-cnt"><a target="_blank" href="http://www.formula1game.com/" rel="noopener" class="un-link">Strona oficjalna</a></span></p>
                    </div>
                    <div id="game-language-cnt">
                    </div>
                </div>


                <div id="game-dates-cnt">
                    <div class="data-dig-2017 S016-mobi-p3">
                        <p class="p1">Data premiery gry:</p>
                        <div class="multi-p"><p class="p2"><span class="s1">28 </span><span class="s2">cze </span><span class="s3">2019</span></p><a href="#pc" class="S016-ver-plat1 S016-plat-date" id="pp1">PC</a> <a href="#ps4" class="S016-ver-plat15 S016-plat-date" id="pp2">PS4</a> <a href="#xboxone" class="S016-ver-plat16 S016-plat-date" id="pp3">XONE</a></div>
                    </div>
                </div>

            </div>

            
        </div>
    </div>