@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>f1News</title>
    @* Links to styles *@
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/responsive-style.css" rel="stylesheet">
    <link href="/css/weather-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link href="/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/loaders.css" />

</head>
<body>
    <header>
        <div class="small-top">
            <div class="container">
                <div class="col-lg-4 date-sec hidden-sm-down">
                    <div id="Date"></div>
                </div>
                <div class="col-lg-3 offset-lg-5">
                    <div class="social-icon"> <a target="_blank" href="#" class=" fa fa-facebook"></a> <a target="_blank" href="#" class=" fa fa-twitter"></a> <a target="_blank" href="#" class=" fa fa-google-plus"></a> <a target="_blank" href="#" class=" fa fa-linkedin"></a> <a target="_blank" href="#" class=" fa fa-youtube"></a> <a target="_blank" href="#" class=" fa fa-vimeo-square"></a> </div>
                </div>
            </div>
        </div>
        <div class="top-head left">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <h1>F1 News<small>Get the latest News</small></h1>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="col-md-6 col-lg-5 offset-lg-3 admin-bar hidden-sm-down dropdown">
                            <nav data-toggle="dropdown" class="nav nav-inline"> <a href="#" class="nav-link"><span class="ping"></span><i class="fa fa-envelope-o"></i></a> <a href="#" class="nav-link"><i class="fa fa-bell-o"></i></a> <a href="#" class="nav-link">@UserManager.GetUserName(User)</a> </nav>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link btn btn-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a>
                                </li>
                                <li>
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                                          asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                                          method="post">
                                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                            <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                        </ul>
                    }

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

            </div>
        </div>
    </header>
    <nav class="navbar top-nav">
        <div class="container">
            <button class="navbar-toggler hidden-lg-up " type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation"> &#9776; </button>
            <div class="collapse navbar-toggleable-md" id="exCollapsingNavbar2">
                <ul class="nav navbar-nav ">
                    <li class="nav-item active"> <a class="nav-link" asp-action="Index" asp-controller="Home">Home <span class="sr-only">(current)</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Biography" asp-controller="Home">Robert Kubica</a> </li>
                    <li class="nav-item"> <a class="nav-link" asp-action="FormulaOne" asp-controller="Home">Formula 1</a> </li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Series" asp-controller="Home">Inne serie</a> </li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Watch" asp-controller="Home">Ogladaj</a> </li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Play" asp-controller="Home">Graj</a> </li>
                    <li class="nav-item"> <a class="nav-link" asp-action="MemeSection" asp-controller="Home">Sekcja memow</a> </li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Calendar" asp-controller="Home">Kalendarz motorsportu</a> </li>
                </ul>
                <form class="pull-xs-right">
                    <div class="search">
                        <input type="text" class="form-control" maxlength="64" placeholder="Search" />
                        <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @RenderSection("scripts", false)
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/core.js"></script>
    <script src="/js/lightbox-plus-jquery.min.js"></script>
    <script src="/js/loginModal.js"></script>

</body>
</html>