@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<a href="https://twitter.com/intent/tweet?button_hashtag=powrotroberta&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #powrotroberta</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>