
@{
    ViewData["Title"] = "Biography";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Biography</h2>

Sylwetka Roberta Kubicy

Robert Kubica – najbardziej utalentowany polski kierowca wyścigowy, jeden z najbardziej utalentowanych kierowców wyścigowych świata. Urodzony w Krakowie, 7 grudnia 1984 roku.
Do 13. roku życia mieszkał w Polsce. Od 6 roku życia jeździł gokartami, po osiągnięciu wymaganego limitu wieku (10 lat), wystartował w Kartingowych Mistrzostwach Polski i w swoim pierwszym sezonie startów zdobył tytuł Mistrza Polski, pokonując znacznie starszych rywali. Sukces ten powtórzył jeszcze 5-krotnie w trzech kolejnych latach. Wraz z rodzicami zdecydował się na uczestnictwo w kilku rundach Kartingowych Mistrzostw Włoch. W swojej dalszej karierze zdobywał tytuły Mistrza Włoch i Niemiec oraz Wicemistrza Europy.

W wieku 17 lat rozpoczął starty w wyścigach jednomiejscowych samochodów wyścigowych. Od początku swojej kariery sportowej był uważany za ogromny talent i kandydata do jazdy w Formule 1. Uczestniczył w następujących seriach: Formuła A, Formuła Renault 2000 Eurocup, Formuła Renault 2000, Formuła 3 Euroseries (Prema Powerteam – Spiess Opel), World Series by Renault (zwycięzca w 2005 roku – 4 wygrane wyścigi, Euskadi), Formuła 1.

W 2003 roku uczestniczył jako pasażer w wypadku samochodowym w Polsce. Kubica doznał licznych złamań kości ramieniowej, którą usztywniono tytanową szyną. Lekarze przewidywali 6-miesięczny okres rehabilitacji, ale Polak wrócił do ścigania już po 6 tygodniach i w swoim pierwszym wyścigu, prowadząc z bardzo ograniczoną siłą w prawej ręce, wygrał.

20 grudnia 2005 roku podpisał kontrakt kierowcy testowego i rezerwowego zespołu BMW Sauber. Gdyby nie problemy z uzyskaniem superlicencji Polak byłby na tym samym stanowisku w zespole Minardi. Zadebiutował wcześniej niż się spodziewał, bo już w Grand Prix Węgier 2006, w którym zajął 7. miejsce ale został zdyskwalifikowany. W swoim trzecim wyścigu w Formule 1 na torze Monza stanął na podium. W następnym sezonie był już etatowym kierowcą BMW Sauber.

W ciągu trzech następnych lat startów w tym zespole Robert zdobył pole position (GP Bahrajnu 2008), wygrał wyścig (GP Kanady 2008), 7-krotnie stawał na podium. Po wycofaniu się BMW z Formuły 1, Polak podpisał kontrakt z zespołem Renault F1. W 2010 roku w 19. wyścigach trzykrotnie stawał na podium, wywalczając również najszybszy czas okrążenia w jednym z nich.

Mimo obowiązków w Formule 1, Robert startując „rekreacyjnie” w rajdach we Włoszech, wywalczył tytuł wicemistrza Włoch w kategorii aut przednionapędowych.

Po bardzo długiej rehabilitacji, ciągle z dużymi ograniczeniami prawej ręki, Kubica wrócił do sportowej rywalizacji, koncentrując się na rajdach. Rywalizował w małych i średnich rajdach we Włoszech i Francji, wygrywając kilka z nich. Szczegółowe informacje o nich znajdziecie tutaj.

W 2013 roku Robert Kubica ogłosił nawiązanie współpracy z firmą Lotos i start w klasie WRC2 Rajdowych Mistrzostw Świata.

W swoim pierwszym pełnym sezonie startów Robert Kubica wygrał 5 z 7 rajdów w klasie WRC2 i został mistrzem tej kategorii, robiąc wielkie wrażenie na wszystkich kibicach i obserwatorach.

Jego świetną karierę przerwał fatalny wypadek samochodowy w rajdzie Ronde di Andora.

Podsumowanie startów w Formule 1:
Liczba startów: 76
Liczba zwycięstw: 1
Liczba pole position: 1
Liczba najszybszych okrążeń wyścigu: 1
Liczba miejsc na podium: 12

Wygrane inne serie: World Series by Renault 3,5 w 2005 roku.
Inne tytuły: Kartingowe Mistrzostwo Włoch, Kartingowe Mistrzostow Niemiec, Kartingowe Mistrzostow Polski.

Podsumowanie startów rajdowych:
Liczba startów: 50
Starty ukończone: 33
Liczba zwycięstw: 7
Liczba zwycięstw w klasie: 13
Wygrane OS-y WRC: 14
Wygrane OS-y ERC: 26

Ciekawostki:
Robert Kubica zdobył mistrzostwo Polski w grze komputerowej Colin McRae rally w 2005 roku. Jest aktualnym Wicemistrzem Włoch w rajdach samochodowych w kategorii aut przednionapędowych, właściciel zespołu Kartingowego RK Team.