@{
    ViewData["Title"] = "FormulaOne";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h3 class="heading-large">Formula 1</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <img class="img-fluid" src="img/Robert-Kubica-Grand-Prix-Wielkiej-Brytanii-300x200.jpg" alt="">
                            <div class="card-block">
                                <div class="news-title">
                                    <a href="#">
                                        <h2 class=" title-small">Znamy proponowany kalendarz na 2020 rok</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <img class="img-fluid" src="img/media-10.jpg" alt="">
                            <div class="card-block">
                                <div class="news-title">
                                    <a href="#">
                                        <h2 class=" title-small">GP USA z największą widownią. Również dzięki Netflixowi</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <img class="img-fluid" src="img/media-7.jpg" alt="">
                            <div class="card-block">
                                <div class="news-title">
                                    <a href="#">
                                        <h2 class=" title-small">O torze Spa-Francorchamps</h2>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <img class="img-fluid" src="img/media-8.jpg" alt="">
                            <div class="card-block">
                                <div class="news-title">
                                    <a href="#">
                                        <h2 class=" title-small">Nowy zespół w F1?</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

