@{
    ViewData["Title"] = "Home Page";
}

<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img class="img-fluid" src="~/img/hungaro.jpg" alt="">
                    <div class="card-img-overlay"> <span class="tag tag-pill tag-danger">Relacja</span> </div>
                    <div class="card-block">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Grand Prix Wegier 2019 - sobota</a></h2>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="img-fluid" src="img/EA9_d5qWwAIxMUN-300x225.jpg" alt="">
                    <div class="card-img-overlay"> <span class="tag tag-pill tag-info">Graj</span> </div>
                    <div class="card-block">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Typuj z F1News!</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="img-fluid" src="img/WilliamsF1_8640_LoRes-300x200.jpg" alt="">
                    <div class="card-img-overlay"> <span class="tag tag-pill tag-success">Williams</span> </div>
                    <div class="card-block">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Zmienne warunki, nadzieja w Williamsie?</a></h2>
                        </div>

                    </div>
                </div>
                <div class="card">
                    <img class="img-fluid" src="img/EA-Ya_9W4AAw-EZ-300x169.jpg" alt="">
                    <div class="card-img-overlay"> <span class="tag tag-pill tag-danger">News</span> </div>
                    <div class="card-block">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Latifi wygrywa wyscig F2!</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 top-slider">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="img/WilliamsF1_8887_LoRes.jpg" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">Wolff: Za wcześnie by Russell przechodził do Mercedesa</a></h2>
                                </div>
                                <div class="news-des">
                                    Toto Wolff mówi, że przejście George Russella do mercedesa już w sezonie 2020 wiązałoby się z ryzykiem „spalenia” młodego kierowcy Williamsa. Według Austriaka, są tylko dwie opcje kierowców dla jego zespołu.
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="img/race.jpg" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">Deszczowy Hockenheim dał wyścig dekady</a></h2>
                                </div>
                                <div class="news-des">Po bardzo długiej przerwie od prawdziwie deszczowego wyścigu nareszcie takowy nadszedł. I zagwarantował nieprawdopodobne emocje.</div>

                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h3 class="heading-large">News</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <img class="img-fluid" src="img/Robert-Kubica-Grand-Prix-Wielkiej-Brytanii-300x200.jpg" alt="">
                            <div class="card-block">
                                <div class="news-title">
                                    <a href="#">
                                        <h2 class=" title-small">Kubica pojeździ wirtualnie – z rywalami z F1?</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <img class="img-fluid" src="img/media-10.jpg" alt="">
                            <div class="card-block">
                                <div class="news-title">
                                    <a href="#">
                                        <h2 class=" title-small">Meksyk zostaje w kalendarzu F1</h2>
                                    </a>
                                </div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <img class="img-fluid" src="img/media-7.jpg" alt="">
                            <div class="card-block">
                                <div class="news-title">
                                    <a href="#">
                                        <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                    </a>
                                </div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <img class="img-fluid" src="img/media-8.jpg" alt="">
                            <div class="card-block">
                                <div class="news-title">
                                    <a href="#">
                                        <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                    </a>
                                </div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-lg-4 side-bar col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Tweety</a></li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Polecane</a> </li> 
                </ul>

                <!-- Tab panes -->
                <div class="tab-content sidebar-tabing">
                    <div class="tab-pane active" id="home" role="tabpanel">
                        <a class="twitter-timeline"
                           href="https://twitter.com/powrotroberta"
                           data-tweet-limit="2"
                           />
                        <a href="https://twitter.com/intent/tweet?button_hashtag=powrotroberta&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #powrotroberta</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel">
                        <div class="media">
                            <a class="media-left" href="#"> <img class="media-object" src="img/media-4.jpg" alt=""> </a>
                            <div class="media-body">
                                <div class="news-title">
                                    <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="media-left" href="#"> <img class="media-object" src="img/media-3.jpg" alt=""> </a>
                            <div class="media-body">
                                <div class="news-title">
                                    <h2 class="title-small"><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="media-left" href="#"> <img class="media-object" src="img/media-2.jpg" alt=""> </a>
                            <div class="media-body">
                                <div class="news-title">
                                    <h2 class="title-small"><a href="#">Obamacare Appears to Be Making People Healthier</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
            </aside>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <h6 class="heading-footer">ABOUT US</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                
                <p><i class="fa fa-envelope"></i> <span>Send Email :</span> info@webenlance.com</p>
            </div>
           
            <div class="col-lg-2 col-md-4 social-icons">
                <h6 class="heading-footer">FOLLOW</h6>
                <ul class="footer-ul">
                    <li><a href="#"><i class=" fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class=" fa fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class=" fa fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--footer start from here-->
