
@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-01">
    <div class="container">
        <div class="row ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <img class="img-fluid" src="img/Robert-Kubica-Grand-Prix-Wielkiej-Brytanii-300x200.jpg" alt="">
                        <div class="card-block">
                            <div class="news-title">
                                <a href="#">
                                    <h2 class=" title-small">Znamy proponowany kalendarz na 2020 rok</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>